	<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li class="active"> 
								<a href="/admin"><i class="fe fe-home"></i> <span>Dashboard</span></a>
							</li>
							
							<li> 
								<a href="/admin/specialities"><i class="fe fe-users"></i> <span>Specialities</span></a>
							</li>
							<li> 
								<a href="/admin/doctor"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
							</li>
							<li> 
								<a href="/admin/patient"><i class="fe fe-user"></i> <span>Patients</span></a>
							</li>
							
							{{!-- <li class="submenu">
								<a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a href="invoice-report.html">Invoice Reports</a></li>
								</ul>
							</li> --}}
							<li class="menu-title"> 
								<span>Pages</span>
							</li>
							<li> 
								<a href="/admin/profile"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
							</li>
							
							
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			