<footer class="footer"id="footer">

    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                
          
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            
                        <img  style="width: 10rem;"
                        src="https://articleguestpost.com/wp-content/uploads/2020/04/depositphotos_341950968-stock-illustration-online-consultation-funny-cartoon-doctor-e1586508681784-1128x484.jpg" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>We need to do a better job of putting ourselves higher on our own 'to do' list. · Events do not just happen, but arrive by appointment.
                            </p>
                            <div class="social-icon">
                                
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Patients</h2>
                        <ul>
                            <li><a href="/doctorList"><i class="fas fa-angle-double-right"></i> Search for Doctors</a></li>
                            <li><a href="/login"><i class="fas fa-angle-double-right"></i> Login</a></li>
                            <li><a href="/register"><i class="fas fa-angle-double-right"></i> Register</a></li>
                            
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">For Doctors</h2>
                        <ul>
                            <li><a href="/appointmentList"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
                            <li><a href="/chat"><i class="fas fa-angle-double-right"></i> Chat</a></li>
                            <li><a href="/login"><i class="fas fa-angle-double-right"></i> Login</a></li>
                            <li><a href="/register"><i class="fas fa-angle-double-right"></i> Register</a></li>
                            <li><a href="/doctorDashboard"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contact Us</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p> gujarat </p>
                            </div>
                            <p>
                                <i class="fas fa-phone-alt"></i>
                                +919876543210
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-envelope"></i>
                                doctTelehealthConsult@example.com
                            </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- /Footer Top -->
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">
        
            <!-- Copyright -->
            
            <!-- /Copyright -->
            
        </div>
    </div>


		</footer>



	</div>


	<!-- jQuery -->
	<script src="client/js/jquery.min.js"></script>

	<!-- <script src="js/register.js"></script> -->

	<!-- Bootstrap Core JS -->
	<script src="client/js/popper.min.js"></script>
	{{!-- <script src="clientjs/header.js"></script> --}}
	<script src="client/js/footer.js"></script>
	<script src="client/js/bootstrap.min.js"></script>

	<!-- Custom JS -->
	{{!-- <script src="cl/js/script.js"></script> --}}

</body>
</html>