<!DOCTYPE html>
<html lang="en">

<!-- doccure/register.html  30 Nov 2019 04:12:20 GMT -->

<head>
    <meta charset="utf-8">
    <title>DOCT TELEHEALTH CONSULT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link href="client/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="client/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="client/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="client/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="client/css/style.css">
    <script src="client/js/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->

</head>

<body class="account-page">

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <!-- Header -->
        <header class="header" id="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="/" class="navbar-brand logo">
                        <img src="https://articleguestpost.com/wp-content/uploads/2020/04/depositphotos_341950968-stock-illustration-online-consultation-funny-cartoon-doctor-e1586508681784-1128x484.jpg"
                            class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="/" class="menu-logo">
                            <img src="client/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="/login">Doctor Dashboard</a></li>
                                {{!-- <li><a href="/appointmentList">Appoinment List</a></li>
                                <li><a href="/appointmentList">Check Payment</a></li> --}}
                                <li><a href="/login">TeleCommunication</a></li>
                                <li><a href="/login"> 2 View Feedback</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Patient <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="/login">Search diseases</a></li>
                                <li><a href="/login">Booking</a></li>
                                <li><a href="/login">Payment</a></li>
                                <li><a href="/login">TeleCommunication</a></li>
                                <li><a href="/login"> Feedback</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/admin" target="_blank">Admin</a>
                        </li>
                        <li class="login-link">
                            <a href="login.html">Login / Signup</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <li class="nav-item contact-item">
                        <div class="header-contact-img">
                            <i class="far fa-hospital"></i>
                        </div>
                        <div class="header-contact-detail">
                            <p class="contact-header">Contact</p>
                            <p class="contact-info-header"> +919876543210</p>
                        </div>


                        {{!-- <a href="/login" download>
                            <img src="pdf/logo.jpg" alt="logo" width="60" height="60">
                        </a> --}}

                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-login" href="/login">Log Out </a>
                    </li>
                </ul>
            </nav>
        </header>
        <!-- /Header -->